{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collections</h1>
    <ul>
        {% for collection in collections %}
            <li>{{ collection.game.title }} - {{ collection.personal_note }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_collection_new') }}">Add New Collection</a>
{% endblock %}
