{% extends 'base.html.twig' %}

{% block title %}Edit CollectionGame{% endblock %}

{% block body %}
    <h1>Edit CollectionGame</h1>

    {{ include('collection_game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_collection_game_index') }}">back to list</a>

    {{ include('collection_game/_delete_form.html.twig') }}
{% endblock %}
