{% extends 'base.html.twig' %}

{% block title %}New CollectionGame{% endblock %}

{% block body %}
    <h1>Create new CollectionGame</h1>

    {{ include('collection_game/_form.html.twig') }}

    <a href="{{ path('app_collection_game_index') }}">back to list</a>
{% endblock %}
