{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Create New Game</h1>

    <div class="mb-4">
        {{ include('game/_form.html.twig') }}
    </div>

    <div class="mt-4">
        <a href="{{ path('app_game_index') }}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700">
            Back to list
        </a>
    </div>
</div>
{% endblock %}
